node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.history
*.hbuilderx

# Uni-app specific ignores
unpackage/
dist/
.tmp/

# Build output directories
/build/
/out/

# Log files
*.log

# Environment files
.env*

# IDE specific files
.editorconfig